/* Para navegadores baseados no Chrome, Edge e Opera */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra vertical */
  height: 8px; /* Altura da barra horizontal */
}

::-webkit-scrollbar-track {
    background-color: rgba(40, 40, 40, 0.458); /* Cor do fundo da barra */
}

::-webkit-scrollbar-thumb {
  background: #7c20d2; /* Cor da barra (aqui usei dourado) */
  background: linear-gradient(rgba(134, 9, 217, 0.715), rgba(24, 91, 206, 0.792));
 
  border-radius: 10px; /* Arredondamento */
}

::-webkit-scrollbar-thumb:hover {
 background: linear-gradient(rgba(134, 9, 217, 0.803), rgba(24, 91, 206, 0.814));
  /* Cor quando passa o mouse */
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
  
}

html{
  scroll-behavior: smooth;
 background-color: rgb(13, 13, 13);
}

/* NAVBAR  */
.navbar{
  position: fixed;
  left: 17%;
  width: 66%;
  height: 3rem;
  margin: 1rem auto 0;
  padding: 0 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: 1px solid  #e7e6e955;
   backdrop-filter: blur(10px); /* efeito de desfoque */
  -webkit-backdrop-filter: blur(10px); /* Safari */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3); /* sombra */
  border-radius: 1.5rem;
z-index: 999;
 cursor: pointer;

}
.logo p{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.logo img{
  width: 2rem;
  border-radius: 50%;
}
.listaBarra{
  display: flex;
  gap: 1.2rem;
}
.listaBarra li{
  font-size: 0.9rem;
  color: rgb(213, 209, 209);
  opacity: 0.9;
}
.listaBarra li:hover{
  opacity: 1;
  color: rgb(255, 255, 255);
}
.estiloBackground{
  width: 10%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
 border: none;
 border-radius: 2rem;
 padding: 0 1rem;
background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
}

.estiloBackground img{
  height: 1.8rem;
  width: 1.8rem;
  padding: 0.4rem;
 border-radius: 50%;
}
/* MAIN  */
.videoSection {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoSection video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover; 
  z-index: 0; 
}

.overlayGradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(11, 11, 11, 0.911), rgba(8, 5, 5, 0.933));
  z-index: 1; 
}

.contentMain{
  height: 100%;
  z-index: 999;
   background-color: rgba(13, 13, 13, 0.225);
}

.articleVideo{
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45rem;
  margin: 0 auto;
  z-index: 2; 
}

 
.infoPessoal{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.dadosInfo{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.dadosInfo h4{
  color: white;
  font-size: 2.5rem;
  line-height: 2.4rem;
  font-weight: 500;
}
.dadosInfo span{
       background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dadosInfo p{
  color: rgb(196, 193, 193);
  font-size: 1.1rem;
line-height: 1.4rem;
}
.iconInfo{
  width: 30%;
}
.iconInfo img{
  width: 25rem;
}
/* .nome {
  line-height: 100%;
  padding: 0.5rem 0 1rem;
  font-family: 'Anton', sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ffffff 0%, #d1d1d1 30%, #a8a8a8 50%, #d1d1d1 70%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1),
   0 -1px 1px rgba(0, 0, 0, 0.2),
   2px 2px 4px rgba(255, 255, 255, 0.2);
} */
.logos {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.3rem;
}

.logos img{
  width: 2rem;
  z-index: 999;

}
.logos img:hover{
  transform: scale(1.4);
}
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(8px); }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.arrowDown{
  cursor: pointer;
   animation: bounce 1.5s infinite;
  
}
.arrowDown img{
 width: 1.4rem;
}

.content{
  background-color: rgba(0, 0, 0, 0.327);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* SOBRE MIM */

.sobreMim{
  width: 80%;
  height: 100%;
  margin: 0 auto  4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 gap: 1rem;
}



.titleSobreMim {
  width: 70%;
  gap: 1rem;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleSobreMim h2{
  width: 25%;
  margin: 0 auto;
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  line-height: 3rem;
}
.titleSobreMim span{
  background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titleSobreMim p {
  color: rgb(218, 213, 213);
  font-size: 1.1rem;
 text-align: center;
word-spacing: 0rem;
line-height: 1.8rem;
}
.contentSobre{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: 5rem;
  padding: 0;
}
.contentSobre img{
  max-width: 50%;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  object-fit:cover;
  transition: 1.5s;
  transform: rotate(15deg);

}
.listaSobre{
  max-width: 55%;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.listaContent{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.listaContent p{
    font-size: 1.1rem;
  color: rgb(245, 241, 241);
  line-height: 1.45rem;
}
.listaContent span{
     background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.15rem;
}

.btnSobreMim{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.btnSobreMim button{
  padding: 1.2rem 2.2rem;
  background-color:  #4336a5;
  border-radius: 1rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 1s;
}
.btnSobreMim button:hover{
 background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
  border: 1px solid   #a855f7;
}
.btnSobreMim a{
 font-size: 1rem;
}


/* PROJETOS */
.sectionProjetos{
  width: 100%;
  margin: 0rem auto ;
  height: auto;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   border-top: 1px solid rgba(70, 69, 67, 0.347);
  border-bottom: 1px solid rgba(70, 69, 67, 0.347);
}
.titleProjetos h2{
  width: 100%;
  margin: 0 auto 0.5rem ;
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  line-height: 4rem;
    background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.subtitle p{
  text-align: center;
  font-size: 1.2rem;
  color: rgb(226, 222, 222);
  margin-bottom: 2.5rem;
}
/* Layout dos cards */
.contentProjetos {
  width: 80%;
display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
 margin: 3rem auto 0;
}

.card {
  height: 25rem;
  padding: 0;
  box-sizing: border-box;
  background-color:rgba(15, 15, 15, 0.405);
  border: 1px solid rgba(97, 94, 94, 0.523);
  border-radius: 1rem;
}
.card:hover{
  transform:scale(1.5);
  cursor: pointer;
  background: linear-gradient(rgba(134, 9, 217, 0.803), rgba(24, 91, 206, 0.814));
}
.cardResponsivo {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border: none;
 
}

/* Mockup notebook e celular */
.imagensCard {
  width: 100%;
  height: 12rem;
  
}
.imagensCard button{
  width: 80%;
  position: relative;
  bottom: 40%;
  left: 10%;
 font-weight: 600;
  padding: 0.9rem 1.7rem;
  margin-top: 1.2rem;
  border: 1px solid transparent;
 background-color:  #4336a5;
  border-radius: 0.8rem;
  text-transform: uppercase;
}
.imagensCard button:hover{
  background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
}
.imagem {
  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.projeto{
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}
.card h5{
  margin: 1rem 0 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.card p{
  color: rgb(218, 213, 213);
  line-height: 1.2rem;
  margin:  0 0 0.5rem;
}
.card .imagensCard button {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
  pointer-events: none;
}

.card:hover .imagensCard button {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.tecUsadas{
  display: flex;
  margin: 0.4rem auto 0;
justify-content: center;
}
.tecUsadas img{
  height: 2.5rem;
  width: 2.4rem;
}


/* Tecnologias */
.habilidadesContent{
 width: 100%;
height:100%;
margin: 5rem auto ;
padding-bottom: 5rem;
cursor: pointer;
  border-bottom: 1px solid rgba(70, 69, 67, 0.347);
}
.articleHabilidades{
  height:100%;
  padding: 1rem;
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 1rem;
}
.titleTecnologia h2{
  width: 40%;
  margin: 0 auto 1rem;
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  line-height: 3rem;
}
.titleTecnologia span{
  background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.listas ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.listas ul li{
  background-color: rgb(17, 34, 73);
  border-radius: 50%;
}
.listas ul li:hover{
 transform: scale(1.1);
}
.listas img{
  width: 4.5rem;
  padding: 1rem;
}

/* CONTATO  */
.sectionContato{
  width: 78%;
  margin: 0 auto ;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 3rem;
}
.titleContato{
  max-width: 100%;
 text-align: center;
 margin: 4rem 0 4rem;
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
}
.titleContato h2{
  width: 40%;
  margin: 0 auto;
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  line-height: 3rem;
}
.titleContato span{
  background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titleContato p {
   width: 40%;
    margin: 0 auto;
  color: rgb(205, 198, 198);
  font-size: 1.06rem;
}
.contato{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.formularioContato{
  width: 50%;  
}

.formularioContato form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
.contentform{
 background-color: #131314b8;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid rgba(105, 104, 103, 0.515);
}
.contentform:hover{
  border-radius: 1rem;
    background: linear-gradient(rgba(86, 81, 89, 0.315), rgba(78, 79, 80, 0.392));
}
.titulosForm{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  text-align: center;
  margin-bottom: 1rem;
}
.titulosForm span{
     background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.titulosForm p{
  color: rgb(205, 198, 198);
  font-size: 1rem;
}
.campo{
  width: 100%;
 display: flex;
 flex-direction: column;
 gap: 0.4rem;
 font-weight: 500;

}
.campo input, .campo select{
  padding: 1rem;
  color: rgb(255, 255, 255);
   background-color: #8d889244;
  border-radius: 0.8rem;
  font-size: 1rem;
   border: none;
}
.campo select option{
  background-color: rgb(65, 65, 67);
}
textarea{
  height: 8rem;
  padding: 1rem;
  color: rgb(255, 255, 255);
   background-color: #8d889244;
  border: none;
  border-radius: 0.8rem;
 resize: none;
  font-size: 1rem;
}
.buttonForm{
   width: 80%;
    margin: 1rem auto;
}
.buttonForm button{
  width: 100%;
  height: 3rem;
   background-color:  #4336a5;
 border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
.buttonForm button:hover{
   background: linear-gradient(rgba(134, 9, 217, 0.715), rgba(24, 91, 206, 0.792));
}
.contentContato{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  border-radius: 1rem;
}
 .meioContato{
  width: 100%;
  color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid rgba(105, 104, 103, 0.515);
}
.meioContato:hover{
  background: linear-gradient(rgba(86, 81, 89, 0.315), rgba(78, 79, 80, 0.392));
  cursor: pointer; 
  }


.conteudoApresentacao h2{
  margin: 0.5rem 0  1rem;
  font-size: 1.4rem;  
  text-align: center;
}
.conteudoApresentacao span{
   background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.meioContato{
  background-color: #131314b8;
   border-radius:  1rem;
}
.meioContato ul {
display: flex;
flex-direction: column;
   gap: 1rem;
}
.meioContato li{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.meioContato p{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
}
.meioContato ul span{
  color: rgb(205, 198, 198);
  font-size: 0.9rem;

}
.meioContato img{
  height: 2.5rem;
  width: 2.5rem;
   border-radius: 0.6rem;
 padding: 0.4rem;
}
 .whastsappIcon img{
 background-color: rgb(13, 164, 30);
}
.linkedinIcon img{
  background-color: rgb(38, 104, 179);
}
.gitHubIcon img{
  background-color: rgb(0, 0, 0);
}


/* MUDANÇA DE ESTILO  */

.WhiteMode{
  display: none;
}
.darkMode{
  display: none;
}
.navbarWhite{
    position: fixed;
  left: 17%;
  width: 66%;
  height: 3rem;
  margin: 1rem auto 0;
  padding: 0 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
background-color: #1f1f20df;
  border: 1px solid  #e7e6e955;
   backdrop-filter: blur(10px); /* efeito de desfoque */
  -webkit-backdrop-filter: blur(10px); /* Safari */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3); /* sombra */
  border-radius: 1.5rem;
z-index: 999;
 cursor: pointer;

}
.listaBarraWhite{
  display: flex;
  gap: 1.2rem;
}
.listaBarraWhite li{
  font-size: 0.9rem;
  color: rgb(248, 245, 245);
  opacity: 0.9;
}
.listaBarraWhite li:hover{
  opacity: 1;
  color: rgb(206, 203, 203);
}

.estiloBackgroundWhite{
  width: 10%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
 border: none;
 border-radius: 2rem;
 padding: 0 1rem;
background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
}

.estiloBackgroundWhite img{
  height: 1.8rem;
  width: 1.8rem;
  padding: 0.4rem;
 border-radius: 50%;
}

.videoSectionWhite {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoSectionWhite video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover; 
  z-index: 0; 
}

.overlayGradientWhite {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
  /* background: linear-gradient(rgba(243, 241, 241, 0.249), rgba(250, 250, 250, 0.201)); */
}
.dadosInfoWhite{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.dadosInfoWhite h4{
  color: rgb(9, 9, 9);
  font-size: 2.5rem;
  line-height: 2.4rem;
  font-weight: 500;
}
.dadosInfoWhite span{
       background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dadosInfoWhite p{
  color: rgb(22, 22, 22);
  font-size: 1.1rem;
line-height: 1.4rem;
}
.contentMainWhite{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  z-index: 999;
   /* background-color: rgba(134, 130, 130, 0.892); */
}
.contentWhite{
  background-color: rgba(205, 200, 200, 0.519); 
}
/* SOBRE MIM */

.sobreMimWhite{
  width: 80%;
  height: 100%;
  margin: 0 auto  4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 gap: 1rem;
}



.titleSobreMimWhite {
  width: 70%;
  gap: 1rem;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleSobreMimWhite h2{
  width: 25%;
  margin: 0 auto;
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  line-height: 3rem;
  color: #000000;
}
.titleSobreMimWhite span{
  background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titleSobreMimWhite p {
  color: rgb(47, 46, 46);
  font-size: 1.1rem;
 text-align: center;
word-spacing: 0rem;
line-height: 1.8rem;
}
.contentSobreWhite{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: 5rem;
  padding: 0;
}

.contentSobreWhite img{
  max-width: 50%;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  object-fit:cover;
  transition: 1.5s;
  transform: rotate(15deg);

}
.listaSobreWhite{
  max-width: 55%;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.listaContentWhite{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.listaContentWhite p{
    font-size: 1.1rem;
  color: rgb(20, 20, 20);
  line-height: 1.45rem;
}
.listaContentWhite span{
   background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.15rem;
}

.btnSobreMimWhite{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.btnSobreMimWhite button{
  padding: 1.2rem 2.2rem;
  background-color:  #4336a5;
  border-radius: 1rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 1s;
}
.btnSobreMimWhite button:hover{
 background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
  border: 1px solid   #a855f7;
}
.btnSobreMimWhite a{
 font-size: 1rem;
}


/* PROJETOS */
.sectionProjetosWhite{
  width: 100%;
  margin: 0rem auto ;
  height: auto;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   border-top: 1px solid rgba(70, 69, 67, 0.347);
  border-bottom: 1px solid rgba(70, 69, 67, 0.347);
}
.titleProjetosWhite h2{
  width: 100%;
  margin: 0 auto 0.5rem ;
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  line-height: 4rem;
    background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.subtitleWhite p{
  text-align: center;
  font-size: 1.2rem;
  color: rgb(26, 25, 25);
  margin-bottom: 2.5rem;
}
/* Layout dos cards */
.contentProjetosWhite {
  width: 80%;
display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
 margin: 3rem auto 0;
}

.cardWhite {
  height: 25rem;
  padding: 0;
  box-sizing: border-box;
  background-color:rgba(15, 15, 15, 0.937);
  border: 1px solid rgba(97, 94, 94, 0.523);
  border-radius: 1rem;
}
.cardWhite:hover{
  transform:scale(1.5);
  cursor: pointer;
  background: linear-gradient(rgba(134, 9, 217, 0.803), rgba(24, 91, 206, 0.814));
}
.cardResponsivoWhite {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border: none;
 
}

/* Mockup notebook e celular */
.imagensCardWhite {
  width: 100%;
  height: 12rem;
  
}
.imagensCardWhite button{
  width: 80%;
  position: relative;
  bottom: 40%;
  left: 10%;
 font-weight: 600;
  padding: 0.9rem 1.7rem;
  margin-top: 1.2rem;
  border: 1px solid transparent;
 background-color:  #4336a5;
  border-radius: 0.8rem;
  text-transform: uppercase;
}
.imagensCardWhite button:hover{
  background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
}


.projetoWhite{
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}
.cardWhite h5{
  margin: 1rem 0 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.cardWhite p{
  color: rgb(218, 213, 213);
  line-height: 1.2rem;
  margin:  0 0 0.5rem;
}
.cardWhite .imagensCardWhite button {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
  pointer-events: none;
}

.cardWhite:hover .imagensCardWhite button {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.tecUsadasWhite{
  display: flex;
  margin: 0.4rem auto 0;
justify-content: center;
}
.tecUsadasWhite img{
  height: 2.5rem;
  width: 2.4rem;
}


/* HABILIDADES */
.habilidadesContentWhite{
 width: 100%;
height:100%;
margin: 0 auto ;
padding-bottom: 5rem;
cursor: pointer;
  border-bottom: 1px solid rgba(70, 69, 67, 0.347);
}
.titleTecnologiaWhite{
  height:80%;
  padding: 1rem;
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 1rem;
}
.titleTecnologiaWhite h2{
  width: 40%;
  margin: 0 auto 1rem;
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  line-height: 3rem;
  color: #000000;
}
.titleTecnologiaWhite span{
  background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.listasWhite ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.listasWhite ul li{
  background-color: rgb(17, 34, 73);
  border-radius: 50%;
}
.listasWhite ul li:hover{
 transform: scale(1.1);
}
.listasWhite img{
  width: 4.5rem;
  padding: 1rem;
}

/* CONTATO  */
.sectionContatoWhite{
  width: 78%;
  margin: 0 auto ;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 3rem;
}
.titleContatoWhite{
  max-width: 100%;
 text-align: center;
 margin: 4rem 0 4rem;
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
}
.titleContatoWhite h2{
  width: 40%;
  margin: 0 auto;
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  line-height: 3rem;
  color: #000000;
}
.titleContatoWhite span{
  background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titleContatoWhite p {
   width: 40%;
    margin: 0 auto;
  color: rgb(15, 14, 14);
  font-size: 1.06rem;
}
.contatoWhite{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.formularioContatoWhite{
  width: 50%;  
}

.formularioContatoWhite form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
.formularioContatoWhite:hover{
  border-radius: 1rem;
 background-color: #000000;
 }
.contentformWhite{
 background-color: #000000d9;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid rgba(105, 104, 103, 0.515);
}

.titulosFormWhite{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  text-align: center;
  margin-bottom: 1rem;
}
.titulosFormWhite span{
     background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.titulosFormWhite p{
  color: rgb(251, 251, 251);
  font-size: 1rem;
}
.campoWhite{
  width: 100%;
 display: flex;
 flex-direction: column;
 gap: 0.4rem;
 font-weight: 500;

}
.campoWhite input, .campoWhite select{
  padding: 1rem;
  color: rgb(255, 255, 255);
   background-color: #8d889244;
  border-radius: 0.8rem;
  font-size: 1rem;
   border: none;
}

.campoWhite select option{
  background-color: rgb(65, 65, 67);
}

.buttonFormWhite{
   width: 80%;
    margin: 1rem auto;
}
.buttonFormWhite button{
  width: 100%;
  height: 3rem;
   background-color:  #4336a5;
 border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
.buttonFormWhite button:hover{
   background: linear-gradient(rgba(134, 9, 217, 0.715), rgba(24, 91, 206, 0.792));
}
.contentContatoWhite{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  border-radius: 1rem;
   background-color: #000000d9;   
}
 .meioContatoWhite{
  width: 100%;
  color: rgb(218, 211, 211);
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid rgba(105, 104, 103, 0.515);
  
}
.meioContatoWhite:hover{
  background: linear-gradient(rgba(86, 81, 89, 0.315), rgba(78, 79, 80, 0.392));
  cursor: pointer; 
  }


.conteudoApresentacaoWhite h2{
  margin: 0.5rem 0  1rem;
  font-size: 1.4rem;  
  text-align: center;
}
.conteudoApresentacaoWhite span{
   background: linear-gradient(90deg,rgb(129, 29, 195), rgb(0, 94, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.meioContatoWhite{
  background-color: #131314b8;
   border-radius:  1rem;
}
.meioContatoWhite ul {
display: flex;
flex-direction: column;
   gap: 1rem;
}
.meioContatoWhite li{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.meioContatoWhite p{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
}
.meioContatoWhite ul span{
  color: rgb(205, 198, 198);
  font-size: 0.9rem;

}
.meioContatoWhite img{
  height: 2.5rem;
  width: 2.5rem;
   border-radius: 0.6rem;
 padding: 0.4rem;
}
 .whastsappIcon img{
 background-color: rgb(13, 164, 30);
}
.linkedinIcon img{
  background-color: rgb(38, 104, 179);
}
.gitHubIcon img{
  background-color: rgb(0, 0, 0);
}

.meioContatoWhite:hover{
  background: linear-gradient(rgba(38, 37, 40, 0.815), rgba(53, 55, 56, 0.822));
  }

  .contentformWhite:hover{
  border-radius: 1rem;
     background: linear-gradient(rgba(38, 37, 40, 0.815), rgba(53, 55, 56, 0.822));
}