/* MAIN  */
.videoSection {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoSection video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: 0;
}

.overlayGradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(11, 11, 11, 0.911), rgba(8, 5, 5, 0.933));
  z-index: 1;
}

.contentMain {
  height: 100%;
  z-index: 999;
  background-color: rgba(13, 13, 13, 0.225);
}

.articleVideo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45rem;
  margin: 0 auto;
  z-index: 2;
}

.infoPessoal {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.dadosInfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.dadosInfo h4 {
  color: white;
  font-size: 2.5rem;
  line-height: 2.4rem;
  font-weight: 500;
}
.dadosInfo span {
  background: linear-gradient(90deg, rgb(129, 29, 195), rgb(0, 94, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dadosInfo p {
  color: rgb(196, 193, 193);
  font-size: 1.1rem;
  line-height: 1.4rem;
}
.iconInfo {
  width: 30%;
}
.iconInfo img {
  width: 25rem;
}

.logos {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.3rem;
}

.logos img {
  width: 2rem;
  z-index: 999;
}
.logos img:hover {
  transform: scale(1.4);
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.arrowDown {
  cursor: pointer;
  animation: bounce 1.5s infinite;
}
.arrowDown img {
  width: 1.4rem;
}

.content {
  background-color: rgba(0, 0, 0, 0.327);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.videoSectionWhite {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoSectionWhite video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: 0;
}

.overlayGradientWhite {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* background: linear-gradient(rgba(243, 241, 241, 0.249), rgba(250, 250, 250, 0.201)); */
}
.dadosInfoWhite {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.dadosInfoWhite h4 {
  color: rgb(9, 9, 9);
  font-size: 2.5rem;
  line-height: 2.4rem;
  font-weight: 500;
}
.dadosInfoWhite span {
  background: linear-gradient(90deg, rgb(129, 29, 195), rgb(0, 94, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dadosInfoWhite p {
  color: rgb(22, 22, 22);
  font-size: 1.1rem;
  line-height: 1.4rem;
}
.contentMainWhite {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  z-index: 999;
  /* background-color: rgba(134, 130, 130, 0.892); */
}
.contentWhite {
  background-color: rgba(205, 200, 200, 0.519);
}

/* --- RESPONSIVO --- */

@media (max-width: 1400px) {
  .articleVideo {
    height: 40rem;
  }
  .infoPessoal {
    width: 80%;
  }
  .iconInfo img {
    width: 20rem;
  }
  .dadosInfo h4 {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
}

@media (max-width: 1024px) {
  .articleVideo {
    height: 35rem;
  }
  .infoPessoal {
    width: 90%;
    gap: 2rem;
  }
  .dadosInfo,
  .dadosInfoWhite {
    width: 65%;
  }
  .iconInfo {
    width: 35%;
  }
  .iconInfo img {
    width: 18rem;
  }
  .dadosInfo h4,
  .dadosInfoWhite h4 {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media (max-width: 768px) {
  .articleVideo {
    height: 30rem;
  }
  .infoPessoal {
    flex-direction: column;
    width: 90%;
    gap: 1.5rem;
    text-align: center;
  }

  .dadosInfo,
  .iconInfo,
  .dadosInfoWhite {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
  }

  .dadosInfo,
  .dadosInfoWhite {
    gap: 0.8rem;
  }

  .dadosInfo h4,
  .dadosInfoWhite h4 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .dadosInfo p,
  .dadosInfoWhite p {
    font-size: 1rem;
  }

  .iconInfo img {
    display: none;
    width: 15rem;
  }

  .logos {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .articleVideo {
    height: 25rem;
  }
  .infoPessoal {
    width: 95%;
    gap: 1rem;
  }

  .dadosInfo,
  .iconInfo .dadosInfoWhite {
    width: 100%;
  }

  .dadosInfo h4,
  .dadosInfoWhite h4 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .dadosInfo p,
  .dadosInfo p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  .iconInfo img {
    display: none;

    width: 12rem;
  }

  .arrowDown img {
    width: 1.2rem;
  }
}
